# Default behavior
* text=auto

# It is important line endings are not changed in the test files.
# One of the tests is to handle files with multiple line-ending schemas.
CrLfCleaner.Tests\*.txt binary

# These files should always have CrLf endings
*.sln    text eol=crlf
*.csproj text eol=crlf
*.cs     text eol=crlf